.question-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  margin-top: 10px;

  @media (max-width: @screen-xs-max) {
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 500;
  }

  .note {
    font-style: normal;
    color: @gray;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    top: -5px;
    position: relative;
  }
}

#answers {
  li {
    i.fa-square {
      top: 0;
    }
    h3 {
      font-size: 19px;
      margin-top: 15px;
    }
    .value {
      min-width: 38px;
      display: inline-block;
      font-weight: 600;
    }
    .top-choices {
      font-family: @font-family-sans-serif;

      .label {
        font-size: 80%;
      }
    }
  }
}
